.mainNavigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background-color: rgb(224, 90, 0);
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.mainNavigationLogo h1 {
    margin: 0;
    font-size: 1.5rem;
}

.mainNavigationItems {
    margin: 0 0 0 1.5rem;
    padding: 0;
    list-style: none;
}

.mainNavigationItems ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainNavigationItems li {
    margin: 0 1rem;
}

.mainNavigationItems a {
    text-decoration: none;
    color: black;
}

/* .mainNavigationItems a[class='active'] {
    color: red;
} */

.mainNavigationItems a:hover, 
.mainNavigationItems a:active,
.mainNavigationItems a[class='active']  {
    color: white;
}

/* 
[class='active'] {
    color: red !important;
} */